*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    body{
        background:linear-gradient(#cdb4db,#ffc8dd,#ffafcc,#bde0fe,#a2d2ff) ;
    }

.main{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 0.5rem 5rem;
    align-items: center;
    box-shadow: 0 0 1rem ;
}
.menu{
    list-style: none;
    display: flex;
}

.menu li > a {
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}

.Brand{
    font-size: 21px;
    font-weight:bold;
    color: gray;
}

.menu li > a:hover{
    color: rgb(15, 15, 231);
    text-decoration: underline;
}
.rbut {
    font-size: 15px;
    border: none;
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1rem;  
}
.rbut > a{
    color: white;
    text-decoration: none;
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    border: 2px solid black;
    width: 80%;
    height: 50vh;
    display: flex;
    border-radius: 20px;
    /* background: linear-gradient(#ffbe0b,#fb5607,#ff006e,#8338ec,#3a86ff); */
}

.right > img{
    width: 300px;
    margin-top: 70px;
    margin-right: 20px;
    box-shadow: 0px 0px 2rem #bde0fe;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.left > h1{
    padding: 20px;
}